version: 1.1.{build}
skip_tags: true
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
  - preview
image:
  - Visual Studio 2017
init:
  - pwsh: |
      "APPVEYOR_REPO_BRANCH = $env:APPVEYOR_REPO_BRANCH"
      "APPVEYOR_PULL_REQUEST_NUMBER = $env:APPVEYOR_PULL_REQUEST_NUMBER"
      "APPVEYOR_REPO_COMMIT_MESSAGE = $env:APPVEYOR_REPO_COMMIT_MESSAGE"
      "APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED = $env:APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED"
      "OS = $env:OS"
  - ps: |
      iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - sh: export PATH=/home/appveyor/.local/bin:$PATH
environment:
  POWERSHELL_TELEMETRY_OPTOUT: 1
  # Avoid expensive initialization of dotnet cli, see: http://donovanbrown.com/post/Stop-wasting-time-during-NET-Core-builds
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  PowershellGalleryKey:
    secure: mqxnoaCoyp5J2u73n+l3Uua1lk/pIXzJqfte55MrWYBIfWfmU5rr9akHSmEZe9mU
install:
  - ps: |
      import-module powershellget
      # cannot update and use new version in the same process
      Install-module PowerShellGet -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
      #Remove-Module PowerShellGet -Force
      #Import-Module PowerShellGet -Force
      Get-PackageProvider -Name NuGet -ForceBootstrap
      Install-Module PSScriptAnalyzer -MaximumVersion 1.18.2 -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
      install-module pester,PlatyPS -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
  - pwsh: |
      import-module powershellget
      # cannot update and use new version in the same process
      Install-module PowerShellGet -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
      #Remove-Module PowerShellGet -Force
      #Import-Module PowerShellGet -Force
      Get-PackageProvider -Name NuGet -ForceBootstrap
      Install-Module PSScriptAnalyzer -MaximumVersion 1.18.2 -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
      install-module pester,PlatyPS -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
build_script:
  - pwsh: |
      if( $env:APPVEYOR_REPO_BRANCH -in @("master","preview") -and !$env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_REPO_COMMIT_MESSAGE -notlike "skip: *" ) {
        .\Invoke-Build.ps1 build,test,publish
      } else {
        .\Invoke-Build.ps1 build,buildhelp,test
      }
      get-module powershellget
      start-sleep -seconds 2147483
artifacts:
  - path: MSTerminalSettings.zip
deploy:
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_VERSION)
    auth_token:
      secure: Ae7UlAonkUJIzCwKAcHgI+3AWyzzrrUmZM9HQGn8psNOjYkfbIMDHRPb4N8b8D8x
    draft: true
    on:
      APPVEYOR_REPO_BRANCH: master
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_VERSION)
    auth_token:
      secure: Ae7UlAonkUJIzCwKAcHgI+3AWyzzrrUmZM9HQGn8psNOjYkfbIMDHRPb4N8b8D8x
    draft: true
    on:
      APPVEYOR_REPO_BRANCH: preview