version: 0.1.0.{build}
skip_tags: true
image:
  - Visual Studio 2017
init:
  - ps: |
      "APPVEYOR_REPO_BRANCH = $env:APPVEYOR_REPO_BRANCH"
      "APPVEYOR_PULL_REQUEST_NUMBER = $env:APPVEYOR_PULL_REQUEST_NUMBER"
      "APPVEYOR_REPO_COMMIT_MESSAGE = $env:APPVEYOR_REPO_COMMIT_MESSAGE"
      "OS = $env:OS"
  - sh: export PATH=/home/appveyor/.local/bin:$PATH
environment:
  POWERSHELL_TELEMETRY_OPTOUT: 1
  # Avoid expensive initialization of dotnet cli, see: http://donovanbrown.com/post/Stop-wasting-time-during-NET-Core-builds
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  PowershellGalleryKey:
    secure: mqxnoaCoyp5J2u73n+l3Uua1lk/pIXzJqfte55MrWYBIfWfmU5rr9akHSmEZe9mU
install:
  - ps: |
      import-module powershellget
      Install-module PowerShellGet -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
      Remove-Module PowerShellGet -Force
      Import-Module PowerShellGet -Force
      Get-PackageProvider -Name NuGet -ForceBootstrap
      install-module pester,PSScriptAnalyzer,PlatyPS -force -AllowClobber -SkipPublisherCheck -Scope CurrentUser
build_script:
  - ps: |
      if( $env:APPVEYOR_REPO_BRANCH -eq "master" -and !$env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_REPO_COMMIT_MESSAGE -notlike "skip: *" ) {
        .\Invoke-Build.ps1 build,test,publish
      } else {
        .\Invoke-Build.ps1 build,buildhelp,test
      }
artifacts:
  - path: MSTerminalSettings.zip
deploy:
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_VERSION)
    auth_token:
      secure: Ae7UlAonkUJIzCwKAcHgI+3AWyzzrrUmZM9HQGn8psNOjYkfbIMDHRPb4N8b8D8x
    draft: true
    on:
      APPVEYOR_REPO_BRANCH: master
